.input-wrapper { display: flex; flex-direction: column; padding: 10px 0px;}
.input-wrapper label { color: #001A49; font-size: 16px; padding-bottom: 3px;}
.input-wrapper input { width: 300px; height: 30px; font-size: 15px; padding-left: 15px;}

button {
    display: inline-block;
    width: 170px;
    min-width: 120px;
    height: 40px;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #1DACE3;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 3px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.loading-wrapper { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.6); z-index: 99999; overflow: visible; }
.loading-wrapper .loading-window { background: #FFF; position: absolute; top: 50%; margin-left: 350px; margin-top: -200px; overflow-y: auto; }
.loading-wrapper .loading-window p { padding: 200px; font-size: 30px; }

.toast { width: 360px; box-shadow: 0px 0px 5px #000; border-radius: 6px; margin-bottom: 10px; }
.toast .text-container { width: 100%; text-align: center; padding: 8px; height: 60px; line-height: 3; }
.toast .text-container.success { background-color: #6FCF97; }
.toast .text-container.error { background-color: #ED6F6A;}